{% extends "_templates/base.twig" %}

{% block masthead %}
{% endblock %}

{% block content %}
<form action="{{ constant('URL') }}accounts/toggle" method="POST">
	<input type="hidden" name="term" value="{{ filters.term }}">
	<ul class="list-group">
		{% for account in accounts %}
			<li class="list-group-item depth-{{ account.depth }}">
				<div class="btn-group control-accountState">
					<button class="btn btn-default btn-xs {% if account.whitelist %}active{% endif %}" title="Add College &amp; Departments" name="include" value="{{ account.canvas_account_id }}"><i class="fa fa-check"></i></button>
					<button class="btn btn-default btn-xs {% if not account.whitelist %}active{% endif %}" title="Remove College &amp; Departments" name="exclude" value="{{ account.canvas_account_id }}"><i class="fa fa-times"></i></button>
				</div>
				{{ account.name }}
			</li>
		{% endfor %}
	</ul>
</form>
{% endblock %}

{% block scripts %}
<script src="{{ constant('STATIC_URL') }}public/js/account_whitelist.js"></script>
{% endblock %}