<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ constant('URL') }}public/ico/favicon.ico">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css">

    <title>
			{% block page_title %}
				Tracker
			{% endblock %}
		</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ constant('URL') }}public/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    {% block topbar %}
      {% include '_templates/topbar.twig' %}
    {% endblock %}
	
    {% block masthead %}{% endblock %}
	
	  <div class="container" role="main">
	    {% block content %}{% endblock %}
    </div>	
	
    <hr>

    <footer>
      <a href="#" class="generateData btn pull-right">Save List</a>
			<a href="index.php" class="btn btn-primary trackerLink pull-right">Go to Syllabus Tracker</a>
			<a href="http://cidi.usu.edu/" target="_blank" title="CIDI Website">
				<img src="https://elearn.usu.edu/canvas_branding/cidi/images/cidi-logo-small-silver.png" width="250">
			</a>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{{ constant('URL') }}public/js/application.js"></script>
    <script src="{{ constant('URL') }}public/js/{{ _app.request.controller }}.js"></script>		
		
  </body>
</html>